# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database
*.db

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Python virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
